name: Build

on:
  workflow_dispatch:
  push:
    branches: actions
  pull_request:
    branches: actions
  release:
    types: [created]

jobs:
  vs2019-installer:
    name: Build VS 2019 (Installer), ${{ matrix.build_type }}, ${{ matrix.arch }}
    runs-on: windows-2019
    strategy:
      matrix:
        build_type: [RelWithDebInfo]
        arch: [Win32]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build/actions

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build/actions
      run: cmake $GITHUB_WORKSPACE -A ${{ matrix.arch }} -DBuildPortableVersion=OFF

    - name: Build
      working-directory: ${{github.workspace}}/build/actions
      shell: cmd
      run: msbuild /m /p:Configuration=${{ matrix.build_type }} PACKAGE.vcxproj

    - uses: 'actions/upload-artifact@v2'
      with:
        name: Windows Installer, ${{ matrix.build_type }}, ${{ matrix.arch }}
        path: ${{github.workspace}}/build/actions/out/*.exe

    # We need exactly one filename for actions/upload-release-asset
    - name: Find Release File
      if: ${{ github.event_name == 'release' }}
      id: releasefile
      shell: bash
      working-directory: ${{github.workspace}}/build/actions/out
      run: echo "::set-output name=FILENAME::$(ls | grep '\.exe$' | head -n1)"

    - name: Upload Release Asset
      if: ${{ github.event_name == 'release' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/build/actions/out/${{ steps.releasefile.outputs.FILENAME }}
        asset_name: ${{ steps.releasefile.outputs.FILENAME }}
        asset_content_type: application/octet-stream

  vs2019:
    name: Build VS 2019 (Portable), ${{ matrix.build_type }}, ${{ matrix.arch }}
    runs-on: windows-2019
    strategy:
      matrix:
        build_type: [Debug, RelWithDebInfo]
        arch: [Win32, x64]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build/actions

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build/actions
      run: cmake $GITHUB_WORKSPACE -A ${{ matrix.arch }} -DBuildPortableVersion=ON

    - name: Build
      working-directory: ${{github.workspace}}/build/actions
      shell: cmd
      run: msbuild /m /p:Configuration=${{ matrix.build_type }} PACKAGE.vcxproj

    #- uses: 'actions/upload-artifact@v2'
    #  with:
    #    name: Windows Binaries, ${{ matrix.build_type }}, ${{ matrix.arch }}
    #    path: ${{github.workspace}}/build/actions/out/${{ matrix.build_type }}/*

    - uses: 'actions/upload-artifact@v2'
      if: ${{ matrix.build_type == 'RelWithDebInfo' }}
      with:
        name: Windows Package, ${{ matrix.build_type }}, ${{ matrix.arch }}
        path: ${{github.workspace}}/build/actions/out/*.zip

    # We need exactly one filename for actions/upload-release-asset
    - name: Find Release File
      if: ${{ github.event_name == 'release' }}
      id: releasefile
      shell: bash
      working-directory: ${{github.workspace}}/build/actions/out
      run: echo "::set-output name=FILENAME::$(ls | grep '\.zip$' | head -n1)"

    - name: Upload Release Asset
      if: ${{ github.event_name == 'release' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/build/actions/out/${{ steps.releasefile.outputs.FILENAME }}
        asset_name: ${{ steps.releasefile.outputs.FILENAME }}
        asset_content_type: application/octet-stream

  vs2017_xp:
    name: Build VS 2017 (Portable - Windows XP), ${{ matrix.build_type }}
    runs-on: windows-2016
    strategy:
      matrix:
        build_type: [Debug, RelWithDebInfo]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build/actions

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build/actions
      run: cmake $GITHUB_WORKSPACE -A Win32 -T v141_xp -DBuildPortableVersion=ON

    - name: Build
      working-directory: ${{github.workspace}}/build/actions
      shell: cmd
      run: msbuild /m /p:Configuration=${{ matrix.build_type }} PACKAGE.vcxproj

    #- uses: 'actions/upload-artifact@v2'
    #  with:
    #    name: Windows Binaries (Windows XP), ${{ matrix.build_type }}
    #    path: ${{github.workspace}}/build/actions/out/${{ matrix.build_type }}/*

    - uses: 'actions/upload-artifact@v2'
      if: ${{ matrix.build_type == 'RelWithDebInfo' }}
      with:
        name: Windows Package (Windows XP), ${{ matrix.build_type }}
        path: ${{github.workspace}}/build/actions/out/*.zip

    # We need exactly one filename for actions/upload-release-asset
    - name: Find Release File
      if: ${{ github.event_name == 'release' }}
      id: releasefile
      shell: bash
      working-directory: ${{github.workspace}}/build/actions/out
      run: echo "::set-output name=FILENAME::$(ls | grep '\.zip$' | head -n1)"

    - name: Upload Release Asset
      if: ${{ github.event_name == 'release' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/build/actions/out/${{ steps.releasefile.outputs.FILENAME }}
        asset_name: ${{ steps.releasefile.outputs.FILENAME }}
        asset_content_type: application/octet-stream

  macos:
    name: Build macOS AppleClang, ${{ matrix.build_type }}, ${{ matrix.portable }}
    runs-on: macos-10.15
    env:
        DEVELOPER_DIR: /Applications/Xcode_11.7.app/Contents/Developer
    strategy:
      matrix:
        build_type: [Debug, Release]
        portable: [Portable, Non-Portable]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Set CMake parameters
      id: cmakeargs
      shell: bash
      run: |
        if [ "${{ matrix.portable }}" == "Portable" ]; then
          echo '::set-output name=PORTABLE::-DBuildPortableVersion=ON'
        else
          echo '::set-output name=PORTABLE::-DBuildPortableVersion=OFF'
        fi

    - name: Create Build Environment
      run: |
        brew install sdl2
        mkdir -p ${{github.workspace}}/build/actions

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build/actions
      run: cmake -G "Unix Makefiles" -DUseInternalLibs=ON ${{ steps.cmakeargs.outputs.PORTABLE }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} $GITHUB_WORKSPACE

    - name: Build
      working-directory: ${{github.workspace}}/build/actions
      shell: bash
      run: make

    - name: Package
      working-directory: ${{github.workspace}}/build/actions
      shell: bash
      run: make package

    #- uses: 'actions/upload-artifact@v2'
    #  with:
    #    name: macOS Binaries, ${{ matrix.build_type }}, ${{ matrix.portable }}
    #    path: ${{github.workspace}}/build/actions/out/${{ matrix.build_type }}/*

    - uses: 'actions/upload-artifact@v2'
      if: ${{ matrix.build_type == 'Release' }}
      with:
        name: macOS Package, ${{ matrix.build_type }}, ${{ matrix.portable }}
        path: |
          ${{github.workspace}}/build/actions/out/*.tar.gz
          ${{github.workspace}}/build/actions/out/*.dmg

    # We need exactly one filename for actions/upload-release-asset
    - name: Find Release File
      if: ${{ github.event_name == 'release' }}
      id: releasefile
      shell: bash
      working-directory: ${{github.workspace}}/build/actions/out
      run: echo "::set-output name=FILENAME::$(ls | grep '\.tar\.gz$\|\.dmg$' | head -n1)"

    - name: Upload Release Asset
      if: ${{ github.event_name == 'release' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/build/actions/out/${{ steps.releasefile.outputs.FILENAME }}
        asset_name: ${{ steps.releasefile.outputs.FILENAME }}
        asset_content_type: application/octet-stream

  linux:
    name: Build Linux, ${{ matrix.build_type }}, ${{ matrix.portable }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        build_type: [Debug, Release]
        portable: [Portable, Non-Portable]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Set CMake parameters
      id: cmakeargs
      shell: bash
      run: |
        if [ "${{ matrix.portable }}" == "Portable" ]; then
          echo '::set-output name=PORTABLE::-DUseInternalLibs=ON -DBuildPortableVersion=ON'
        else
          echo '::set-output name=PORTABLE::-DUseInternalLibs=OFF -DBuildPortableVersion=OFF'
        fi

    - name: Create Build Environment
      run: |
        sudo apt-get update
        sudo apt-get install git zip wget libfuse2 build-essential libsdl2-dev libgl1-mesa-dev libopenal-dev libjpeg-dev libpng-dev libminizip-dev
        mkdir -p ${{github.workspace}}/build/actions

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build/actions
      run: cmake ${{ steps.cmakeargs.outputs.PORTABLE }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} $GITHUB_WORKSPACE

    - name: Build
      working-directory: ${{github.workspace}}/build/actions
      shell: bash
      run: make

    - name: Package
      working-directory: ${{github.workspace}}/build/actions
      shell: bash
      run: make package

    #- uses: 'actions/upload-artifact@v2'
    #  with:
    #    name: Linux Binaries, ${{ matrix.build_type }}, ${{ matrix.portable }}
    #    path: ${{github.workspace}}/build/actions/out/${{ matrix.build_type }}/*

    - uses: 'actions/upload-artifact@v2'
      if: ${{ matrix.build_type == 'Release' }}
      with:
        name: Linux Package, ${{ matrix.build_type }}, ${{ matrix.portable }}
        path: |
          ${{github.workspace}}/build/actions/out/*.tar.gz
          ${{github.workspace}}/build/actions/out/*.deb
          ${{github.workspace}}/build/actions/out/*.rpm

    # We need exactly one filename for actions/upload-release-asset
    - name: Find Release File
      if: ${{ github.event_name == 'release' }}
      id: releasefile
      shell: bash
      working-directory: ${{github.workspace}}/build/actions/out
      run: echo "::set-output name=FILENAME::$(ls | grep '\.tar\.gz$\|\.deb$\|\.rpm$' | head -n1)"

    - name: Upload Release Asset
      if: ${{ github.event_name == 'release' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/build/actions/out/${{ steps.releasefile.outputs.FILENAME }}
        asset_name: ${{ steps.releasefile.outputs.FILENAME }}
        asset_content_type: application/octet-stream
